@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Amazon Ember';
  src: url('/fonts/AmazonEmber_Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('/fonts/Amazon-Ember-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('/fonts/AmazonEmber_Bd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('/fonts/AmazonEmber_He.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('/fonts/AmazonEmber_HeIt.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}



body {
  font-family: 'Amazon Ember', sans-serif;
}